.card {
  width: 230px;
  height: 481px;
  cursor: pointer;
  margin: 10px 10px;
}
.card:hover {
  width: 250px;
  height: 500px;
  margin: 0;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  /* padding: 10px; */
  /* transition: 0.5s ease; */
}
/* .card:hover .afterHover {
  padding-left: 10px;
  background-color: red;
} */
@media only screen and (max-width: 950px) {
  /* .card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
}
