.description {
  border-bottom: 0.2px solid whitesmoke;
  border-top: 0.2px solid whitesmoke;
}
.description h3 {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  font-family: "ProximaNova-Light";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 30px;
  margin-bottom: -10px;
}
.description p {
  opacity: 1;
  color: rgba(102, 102, 102, 1);
  font-family: "ProximaNova-Light";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: justified;
  line-height: 20px;
}
