.title {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
.items {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "VLNewParisHeadline";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 30px;
}
