.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 50px;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "ProximaNova-Bold";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  background-color: RGB(51, 51, 58);
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .button {
    bottom: -10px;
  }
}
