.date {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "ProximaNova-Semibold";
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}
