.signature {
  position: absolute;
  opacity: 1;
  color: rgba(222, 222, 222, 1);
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 25px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-100%);
}
@media only screen and (max-width: 500px) {
  .signature {
    width: 100%;
    bottom: 40px;
    left: 40px;
    transform: initial;
  }
}
