.asSeen {
  padding: 0 150px;
  margin-bottom: 50px;
  /* width: 80%; */
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  /* flex-wrap: nowrap; */
}
.images img {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .asSeen {
    padding: 0 50px;
  }
  .images {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
  .images img {
    width: 100%;
    margin-bottom: 20px;
  }
}
